<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="TVSPortal"
             value="https://think-team.pkgs.visualstudio.com/4c4653ef-5c64-4d44-9f07-7d925bcbc738/_packaging/TVSPortal/nuget/v3/index.json" />
        <add key="Package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>